.mainContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}

h2{
    margin-bottom: 1.5em;
}
.btn {
    margin-top:1.5em;
    margin-bottom:2em;
}

.form-control {
    margin-bottom: 1em;
}
.validationSummary {
color:red;
}